# 6.1.a Prepare year data
## 1. Load  and explore data
## 2. Wrangle data
## 3. Clean data
## 4. Export data

## 1. Load and explore data

In [4]:
#import libraries
import pandas as pd
import numpy as np
import os

In [5]:
#define path for ease of data access
path = r'C:\Users\User\250104_Global Internet Access Analysis'

In [23]:
#Get CSV files in the folder
folder_path = r'C:\Users\User\250104_Global Internet Access Analysis\02 Data\Original Data'  
file_names = [f for f in os.listdir(r'C:\Users\User\250104_Global Internet Access Analysis\02 Data\Original Data') if f.endswith('.csv')]

#load the datasets
dataset_list = []
for file in file_names:
    dataset = pd.read_csv(os.path.join(folder_path, file))
    dataset_list.append(dataset)

In [7]:
#Check loaded files
for file in file_names:
    file_path = os.path.join(folder_path, file)
    try:
        print(f"Attempting to load: {file}")
        dataset = pd.read_csv(file_path)
        dataset_list.append(dataset)
        print(f"Loaded: {file}")
    except Exception as e:
        print(f"Error loading {file}: {e}")

Attempting to load: 250104_Access  electricity rural.csv
Loaded: 250104_Access  electricity rural.csv
Attempting to load: 250104_Access  electricity urban.csv
Loaded: 250104_Access  electricity urban.csv
Attempting to load: 250104_Access  electricity.csv
Loaded: 250104_Access  electricity.csv
Attempting to load: 250104_Fix Broadb Subsc.csv
Loaded: 250104_Fix Broadb Subsc.csv
Attempting to load: 250104_Indiv Use Internet fem.csv
Loaded: 250104_Indiv Use Internet fem.csv
Attempting to load: 250104_Indiv Use Internet male.csv
Loaded: 250104_Indiv Use Internet male.csv
Attempting to load: 250104_Indiv Use Internet.csv
Loaded: 250104_Indiv Use Internet.csv
Attempting to load: 250104_Life Exp.csv
Loaded: 250104_Life Exp.csv
Attempting to load: 250104_Lit fem.csv
Loaded: 250104_Lit fem.csv
Attempting to load: 250104_Lit male.csv
Loaded: 250104_Lit male.csv
Attempting to load: 250104_Lit.csv
Loaded: 250104_Lit.csv
Attempting to load: 250104_Pop 0_14.csv
Loaded: 250104_Pop 0_14.csv
Attempting to load: 250104_Pop 15_64.csv
Loaded: 250104_Pop 15_64.csv
Attempting to load: 250104_Pop 65 plus.csv
Loaded: 250104_Pop 65 plus.csv
Attempting to load: 250104_Pop fem.csv
Loaded: 250104_Pop fem.csv
Attempting to load: 250104_Pop male.csv
Loaded: 250104_Pop male.csv
Attempting to load: 250104_Pop rural.csv
Loaded: 250104_Pop rural.csv
Attempting to load: 250104_Pop total.csv
Loaded: 250104_Pop total.csv
Attempting to load: 250104_Pop urban.csv
Loaded: 250104_Pop urban.csv
Attempting to load: 250104_Sec Edu.csv
Loaded: 250104_Sec Edu.csv

In [25]:
print(f"Total datasets loaded: {len(dataset_list)}")

Total datasets loaded: 20

In [9]:
# Explore the first dataset
print("First dataset:")
print(dataset_list[0].head())  # First few rows
print(dataset_list[0].shape)  # Rows and columns

# Explore the last dataset
print("\nLast dataset:")
print(dataset_list[-1].head())
print(dataset_list[-1].shape)

First dataset:
                  Country Name Country Code  \
0                        Aruba          ABW
1  Africa Eastern and Southern          AFE
2                  Afghanistan          AFG
3   Africa Western and Central          AFW
4                       Angola          AGO

                                      Indicator Name     Indicator Code  1960  \
0  Access to electricity rural (% of rural popula...  EG.ELC.ACCS.RU.ZS   NaN
1  Access to electricity rural (% of rural popula...  EG.ELC.ACCS.RU.ZS   NaN
2  Access to electricity rural (% of rural popula...  EG.ELC.ACCS.RU.ZS   NaN
3  Access to electricity rural (% of rural popula...  EG.ELC.ACCS.RU.ZS   NaN
4  Access to electricity rural (% of rural popula...  EG.ELC.ACCS.RU.ZS   NaN

   1961  1962  1963  1964  1965  ...        2015        2016        2017  \
0   NaN   NaN   NaN   NaN   NaN  ...  100.000000  100.000000  100.000000
1   NaN   NaN   NaN   NaN   NaN  ...   16.527554   24.627753   25.432092
2   NaN   NaN   NaN   NaN   NaN  ...   64.600000   97.100000   97.100000
3   NaN   NaN   NaN   NaN   NaN  ...   22.820387   27.431819   22.902076
4   NaN   NaN   NaN   NaN   NaN  ...    3.800000         NaN         NaN

         2018        2019        2020        2021        2022  2023  \
0  100.000000  100.000000  100.000000  100.000000  100.000000   NaN
1   27.061929   29.154282   31.022083   32.809138   33.760782   NaN
2   91.600000   97.100000   97.100000   97.100000   81.700000   NaN
3   28.239320   26.354918   24.742298   25.904416   25.357267   NaN
4    7.300000         NaN         NaN         NaN         NaN   NaN

   Unnamed: 68
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN

[5 rows x 69 columns]
(266, 69)

Last dataset:
                  Country Name Country Code  \
0                        Aruba          ABW
1  Africa Eastern and Southern          AFE
2                  Afghanistan          AFG
3   Africa Western and Central          AFW
4                       Angola          AGO

                         Indicator Name Indicator Code  1960  1961  1962  \
0  Secondary education duration (years)    SE.SEC.DURS   NaN   NaN   NaN
1  Secondary education duration (years)    SE.SEC.DURS   NaN   NaN   NaN
2  Secondary education duration (years)    SE.SEC.DURS   NaN   NaN   NaN
3  Secondary education duration (years)    SE.SEC.DURS   NaN   NaN   NaN
4  Secondary education duration (years)    SE.SEC.DURS   NaN   NaN   NaN

   1963  1964  1965  ...  2015  2016  2017  2018  2019  2020  2021  2022  \
0   NaN   NaN   NaN  ...   5.0   5.0   5.0   5.0   5.0   5.0   5.0   5.0
1   NaN   NaN   NaN  ...   6.0   6.0   6.0   6.0   6.0   6.0   6.0   6.0
2   NaN   NaN   NaN  ...   6.0   6.0   6.0   6.0   6.0   6.0   6.0   6.0
3   NaN   NaN   NaN  ...   7.0   7.0   7.0   7.0   7.0   7.0   7.0   7.0
4   NaN   NaN   NaN  ...   6.0   6.0   6.0   6.0   6.0   6.0   6.0   6.0

   2023  Unnamed: 68
0   5.0          NaN
1   6.0          NaN
2   6.0          NaN
3   7.0          NaN
4   6.0          NaN

[5 rows x 69 columns]
(266, 69)

In [27]:
value_counts = dataset_list[1]['Indicator Name'].value_counts()
print(value_counts)

Indicator Name
Access to electricity urban (% of urban population)    266
Name: count, dtype: int64

In [29]:
dataset_list[1].columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022',
       '2023', 'Unnamed: 68'],
      dtype='object')

In [31]:
# Get unique values in 'Indicator Name'
unique_indicator_names = dataset_list[1]['Indicator Name'].unique()

# Display the unique values
print(unique_indicator_names)

['Access to electricity urban (% of urban population)']

## 2. Wrangle data

In [33]:
# Filter data to exclude years 1960-2011
# Define the columns to keep: metadata and years 2012 to 2022
year_columns = [str(year) for year in range(2012, 2023)]
keep_columns = ['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'] + year_columns

# Filter columns for each dataset in the list
filtered_datasets = []
for df in dataset_list:
    filtered_df = df[keep_columns]  # Keep only the required columns
    filtered_datasets.append(filtered_df)

In [35]:
print(filtered_datasets[0].head())  
print(filtered_datasets[0].shape)

                  Country Name Country Code  \
0                        Aruba          ABW
1  Africa Eastern and Southern          AFE
2                  Afghanistan          AFG
3   Africa Western and Central          AFW
4                       Angola          AGO

                                      Indicator Name     Indicator Code  \
0  Access to electricity rural (% of rural popula...  EG.ELC.ACCS.RU.ZS
1  Access to electricity rural (% of rural popula...  EG.ELC.ACCS.RU.ZS
2  Access to electricity rural (% of rural popula...  EG.ELC.ACCS.RU.ZS
3  Access to electricity rural (% of rural popula...  EG.ELC.ACCS.RU.ZS
4  Access to electricity rural (% of rural popula...  EG.ELC.ACCS.RU.ZS

         2012        2013        2014        2015        2016        2017  \
0  100.000000  100.000000  100.000000  100.000000  100.000000  100.000000
1   19.442860   18.775074   17.672943   16.527554   24.627753   25.432092
2   60.800000   60.200000   86.500000   64.600000   97.100000   97.100000
3   19.194391   23.394055   22.475132   22.820387   27.431819   22.902076
4         NaN         NaN         NaN    3.800000         NaN         NaN

         2018        2019        2020        2021        2022
0  100.000000  100.000000  100.000000  100.000000  100.000000
1   27.061929   29.154282   31.022083   32.809138   33.760782
2   91.600000   97.100000   97.100000   97.100000   81.700000
3   28.239320   26.354918   24.742298   25.904416   25.357267
4    7.300000         NaN         NaN         NaN         NaN
(266, 15)

In [37]:
# Reshape from wide to long format
# Reshape each dataset in filtered_datasets to long format
long_datasets = []

for df in filtered_datasets:
    # Use pd.melt() to reshape the dataframe
    long_df = df.melt(
        id_vars=['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'],  # Columns to keep as-is
        var_name='Year',  # Name of the new column for the years
        value_name='Value'  # Name of the new column for the corresponding values
    )
    long_datasets.append(long_df)  # Append the reshaped dataframe to the list

In [39]:
long_datasets[1].columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Year', 'Value'],
      dtype='object')

In [40]:
# Define the common set of columns
#common_columns = ['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code', 'Year', 'Value']

# Ensure all DataFrames have the same columns
#for i in range(len(long_datasets)):
#    long_datasets[i] = long_datasets[i][common_columns]

# Combine all long datasets into a single dataframe
combined_long_dataset = pd.concat(long_datasets, ignore_index=True)

In [41]:
value_counts = combined_long_dataset['Indicator Name'].value_counts()
print(value_counts)

Indicator Name
Access to electricity rural (% of rural population)               2926
Access to electricity urban (% of urban population)               2926
Urban population (% of total population)                          2926
Population total                                                  2926
Rural population (% of total population)                          2926
Population male (% of total population)                           2926
Population female (% of total population)                         2926
Population ages 65 and above (% of total population)              2926
Population ages 15-64 (% of total population)                     2926
Population ages 0-14 (% of total population)                      2926
Literacy rate adult total (% of people ages 15 and above)         2926
Literacy rate adult male (% of males ages 15 and above)           2926
Literacy rate adult female (% of females ages 15 and above)       2926
Life expectancy at birth total (years)                            2926
Individuals using the Internet (% of population)                  2926
Individuals using the Internet male (% of male population)        2926
Individuals using the Internet female (% of female population)    2926
Fixed broadband subscriptions (per 100 people)                    2926
Access to electricity (% of population)                           2926
Secondary education duration (years)                              2926
Name: count, dtype: int64

In [42]:
# Pivot the dataset to have one column per indicator
final_dataset = combined_long_dataset.pivot(
    index=['Country Name', 'Country Code', 'Year'],  # Columns to keep as index
    columns='Indicator Name',  # Column to pivot into multiple columns
    values='Value'  # Values to fill the new columns
)

# Flatten the column index (after pivot, columns become a MultiIndex if multiple levels exist)
final_dataset.columns = [str(col) for col in final_dataset.columns]  # Flatten columns
final_dataset = final_dataset.reset_index()  # Reset the index to turn it into regular columns

print(final_dataset.shape)  # Check the shape of the dataset
print(final_dataset.head(50))  # Inspect the first few rows

(2926, 23)
                   Country Name Country Code  Year  \
0                   Afghanistan          AFG  2012
1                   Afghanistan          AFG  2013
2                   Afghanistan          AFG  2014
3                   Afghanistan          AFG  2015
4                   Afghanistan          AFG  2016
5                   Afghanistan          AFG  2017
6                   Afghanistan          AFG  2018
7                   Afghanistan          AFG  2019
8                   Afghanistan          AFG  2020
9                   Afghanistan          AFG  2021
10                  Afghanistan          AFG  2022
11  Africa Eastern and Southern          AFE  2012
12  Africa Eastern and Southern          AFE  2013
13  Africa Eastern and Southern          AFE  2014
14  Africa Eastern and Southern          AFE  2015
15  Africa Eastern and Southern          AFE  2016
16  Africa Eastern and Southern          AFE  2017
17  Africa Eastern and Southern          AFE  2018
18  Africa Eastern and Southern          AFE  2019
19  Africa Eastern and Southern          AFE  2020
20  Africa Eastern and Southern          AFE  2021
21  Africa Eastern and Southern          AFE  2022
22   Africa Western and Central          AFW  2012
23   Africa Western and Central          AFW  2013
24   Africa Western and Central          AFW  2014
25   Africa Western and Central          AFW  2015
26   Africa Western and Central          AFW  2016
27   Africa Western and Central          AFW  2017
28   Africa Western and Central          AFW  2018
29   Africa Western and Central          AFW  2019
30   Africa Western and Central          AFW  2020
31   Africa Western and Central          AFW  2021
32   Africa Western and Central          AFW  2022
33                      Albania          ALB  2012
34                      Albania          ALB  2013
35                      Albania          ALB  2014
36                      Albania          ALB  2015
37                      Albania          ALB  2016
38                      Albania          ALB  2017
39                      Albania          ALB  2018
40                      Albania          ALB  2019
41                      Albania          ALB  2020
42                      Albania          ALB  2021
43                      Albania          ALB  2022
44                      Algeria          DZA  2012
45                      Algeria          DZA  2013
46                      Algeria          DZA  2014
47                      Algeria          DZA  2015
48                      Algeria          DZA  2016
49                      Algeria          DZA  2017

    Access to electricity (% of population)  \
0                                 69.100000
1                                 68.000000
2                                 89.500000
3                                 71.500000
4                                 97.700000
5                                 97.700000
6                                 93.400000
7                                 97.700000
8                                 97.700000
9                                 97.700000
10                                85.300000
11                                31.673427
12                                31.723574
13                                31.871956
14                                33.922276
15                                38.859598
16                                40.223744
17                                43.035073
18                                44.390861
19                                46.282371
20                                48.127211
21                                48.742043
22                                44.186500
23                                47.194503
24                                47.767361
25                                46.862418
26                                51.045127
27                                48.900728
28                                51.335829
29                                51.291577
30                                51.856043
31                                54.368599
32                                55.588908
33                                99.900000
34                                99.900000
35                               100.000000
36                               100.000000
37                                99.900000
38                                99.900000
39                               100.000000
40                               100.000000
41                               100.000000
42                               100.000000
43                               100.000000
44                                98.800000
45                                99.200000
46                                99.300000
47                                99.400000
48                                99.400000
49                                99.500000

    Access to electricity rural (% of rural population)  \
0                                           60.800000
1                                           60.200000
2                                           86.500000
3                                           64.600000
4                                           97.100000
5                                           97.100000
6                                           91.600000
7                                           97.100000
8                                           97.100000
9                                           97.100000
10                                          81.700000
11                                          19.442860
12                                          18.775074
13                                          17.672943
14                                          16.527554
15                                          24.627753
16                                          25.432092
17                                          27.061929
18                                          29.154282
19                                          31.022083
20                                          32.809138
21                                          33.760782
22                                          19.194391
23                                          23.394055
24                                          22.475132
25                                          22.820387
26                                          27.431819
27                                          22.902076
28                                          28.239320
29                                          26.354918
30                                          24.742298
31                                          25.904416
32                                          25.357267
33                                          99.900000
34                                          99.800000
35                                          99.900000
36                                         100.000000
37                                          99.700000
38                                          99.700000
39                                         100.000000
40                                         100.000000
41                                         100.000000
42                                         100.000000
43                                         100.000000
44                                          97.700000
45                                          97.800000
46                                          97.900000
47                                          98.100000
48                                          98.300000
49                                          98.600000

    Access to electricity urban (% of urban population)  \
0                                           95.000000
1                                           92.200000
2                                           98.700000
3                                           92.500000
4                                           99.500000
5                                           99.500000
6                                           98.800000
7                                           99.500000
8                                           99.500000
9                                           99.500000
10                                          95.900000
11                                          66.615300
12                                          66.784136
13                                          65.999584
14                                          66.995442
15                                          68.859495
16                                          70.643950
17                                          71.519782
18                                          72.553573
19                                          74.054196
20                                          75.483124
21                                          75.847809
22                                          78.922749
23                                          78.875447
24                                          79.878386
25                                          78.320364
26                                          81.633253
27                                          82.581144
28                                          80.289328
29                                          82.731470
30                                          83.390396
31                                          86.682443
32                                          86.795386
33                                          99.900000
34                                          99.900000
35                                         100.000000
36                                         100.000000
37                                         100.000000
38                                         100.000000
39                                         100.000000
40                                         100.000000
41                                         100.000000
42                                         100.000000
43                                         100.000000
44                                          99.300000
45                                          99.800000
46                                          99.900000
47                                          99.900000
48                                          99.900000
49                                          99.900000

    Fixed broadband subscriptions (per 100 people)  \
0                                         0.004908
1                                         0.004743
2                                         0.004574
3                                         0.020889
4                                         0.025363
5                                         0.025728
6                                         0.043543
7                                         0.051994
8                                         0.068008
9                                         0.066424
10                                        0.079630
11                                        0.351953
12                                        0.452911
13                                        0.535180
14                                        0.500000
15                                        0.500000
16                                        0.500000
17                                        0.500000
18                                        0.600000
19                                        0.700000
20                                        0.800000
21                                        0.900000
22                                        0.108366
23                                        0.106400
24                                        0.132960
25                                        0.100000
26                                        0.200000
27                                        0.200000
28                                        0.200000
29                                        0.300000
30                                        0.400000
31                                        0.400000
32                                        0.400000
33                                        5.501300
34                                        6.278640
35                                        7.161910
36                                        8.378780
37                                        9.192240
38                                       10.475700
39                                       12.505800
40                                       15.119300
41                                       17.720900
42                                       19.630400
43                                       20.698900
44                                        3.067370
45                                        3.332100
46                                        4.080320
47                                        5.670600
48                                        7.000040
49                                        7.700460

    Individuals using the Internet (% of population)  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN
5                                                NaN
6                                                NaN
7                                                NaN
8                                                NaN
9                                                NaN
10                                               NaN
11                                               NaN
12                                               NaN
13                                               NaN
14                                               NaN
15                                               NaN
16                                               NaN
17                                               NaN
18                                               NaN
19                                               NaN
20                                               NaN
21                                               NaN
22                                               NaN
23                                               NaN
24                                               NaN
25                                               NaN
26                                               NaN
27                                               NaN
28                                               NaN
29                                               NaN
30                                               NaN
31                                               NaN
32                                               NaN
33                                               NaN
34                                               NaN
35                                               NaN
36                                               NaN
37                                               NaN
38                                               NaN
39                                               NaN
40                                               NaN
41                                               NaN
42                                               NaN
43                                               NaN
44                                               NaN
45                                               NaN
46                                               NaN
47                                               NaN
48                                               NaN
49                                               NaN

    Individuals using the Internet female (% of female population)  \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 NaN
10                                                NaN
11                                                NaN
12                                                NaN
13                                                NaN
14                                                NaN
15                                                NaN
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN
20                                                NaN
21                                                NaN
22                                                NaN
23                                                NaN
24                                                NaN
25                                                NaN
26                                                NaN
27                                                NaN
28                                                NaN
29                                                NaN
30                                                NaN
31                                                NaN
32                                                NaN
33                                                NaN
34                                                NaN
35                                                NaN
36                                                NaN
37                                                NaN
38                                                NaN
39                                                NaN
40                                                NaN
41                                                NaN
42                                                NaN
43                                                NaN
44                                                NaN
45                                                NaN
46                                                NaN
47                                                NaN
48                                                NaN
49                                                NaN

    Individuals using the Internet male (% of male population)  ...  \
0                                                 NaN           ...
1                                                 NaN           ...
2                                                 NaN           ...
3                                                 NaN           ...
4                                                 NaN           ...
5                                                 NaN           ...
6                                                 NaN           ...
7                                                 NaN           ...
8                                                 NaN           ...
9                                                 NaN           ...
10                                                NaN           ...
11                                                NaN           ...
12                                                NaN           ...
13                                                NaN           ...
14                                                NaN           ...
15                                                NaN           ...
16                                                NaN           ...
17                                                NaN           ...
18                                                NaN           ...
19                                                NaN           ...
20                                                NaN           ...

In [43]:
final_dataset.columns

Index(['Country Name', 'Country Code', 'Year',
       'Access to electricity (% of population)',
       'Access to electricity rural (% of rural population)',
       'Access to electricity urban (% of urban population)',
       'Fixed broadband subscriptions (per 100 people)',
       'Individuals using the Internet (% of population)',
       'Individuals using the Internet female (% of female population)',
       'Individuals using the Internet male (% of male population)',
       'Life expectancy at birth total (years)',
       'Literacy rate adult female (% of females ages 15 and above)',
       'Literacy rate adult male (% of males ages 15 and above)',
       'Literacy rate adult total (% of people ages 15 and above)',
       'Population ages 0-14 (% of total population)',
       'Population ages 15-64 (% of total population)',
       'Population ages 65 and above (% of total population)',
       'Population female (% of total population)',
       'Population male (% of total population)', 'Population total',
       'Rural population (% of total population)',
       'Secondary education duration (years)',
       'Urban population (% of total population)'],
      dtype='object')

## 3. Clean data

In [45]:
# check for missing data 
final_dataset.isnull().sum()

Country Name                                                         0
Country Code                                                         0
Year                                                                 0
Access to electricity (% of population)                             33
Access to electricity rural (% of rural population)                143
Access to electricity urban (% of urban population)                 63
Fixed broadband subscriptions (per 100 people)                     207
Individuals using the Internet (% of population)                  2926
Individuals using the Internet female (% of female population)    2926
Individuals using the Internet male (% of male population)        2926
Life expectancy at birth total (years)                              92
Literacy rate adult female (% of females ages 15 and above)       1993
Literacy rate adult male (% of males ages 15 and above)           2006
Literacy rate adult total (% of people ages 15 and above)         2007
Population ages 0-14 (% of total population)                        11
Population ages 15-64 (% of total population)                       11
Population ages 65 and above (% of total population)                11
Population female (% of total population)                           11
Population male (% of total population)                             11
Population total                                                    11
Rural population (% of total population)                            33
Secondary education duration (years)                               142
Urban population (% of total population)                            33
dtype: int64

In [46]:
# droping columns with to many missing data

final_dataset.drop(columns = ['Individuals using the Internet (% of population)', 'Individuals using the Internet female (% of female population)', 'Individuals using the Internet male (% of male population)'],
    inplace = True)

In [47]:
final_dataset.columns

Index(['Country Name', 'Country Code', 'Year',
       'Access to electricity (% of population)',
       'Access to electricity rural (% of rural population)',
       'Access to electricity urban (% of urban population)',
       'Fixed broadband subscriptions (per 100 people)',
       'Life expectancy at birth total (years)',
       'Literacy rate adult female (% of females ages 15 and above)',
       'Literacy rate adult male (% of males ages 15 and above)',
       'Literacy rate adult total (% of people ages 15 and above)',
       'Population ages 0-14 (% of total population)',
       'Population ages 15-64 (% of total population)',
       'Population ages 65 and above (% of total population)',
       'Population female (% of total population)',
       'Population male (% of total population)', 'Population total',
       'Rural population (% of total population)',
       'Secondary education duration (years)',
       'Urban population (% of total population)'],
      dtype='object')

In [48]:
final_dataset.dtypes

Country Name                                                    object
Country Code                                                    object
Year                                                            object
Access to electricity (% of population)                        float64
Access to electricity rural (% of rural population)            float64
Access to electricity urban (% of urban population)            float64
Fixed broadband subscriptions (per 100 people)                 float64
Life expectancy at birth total (years)                         float64
Literacy rate adult female (% of females ages 15 and above)    float64
Literacy rate adult male (% of males ages 15 and above)        float64
Literacy rate adult total (% of people ages 15 and above)      float64
Population ages 0-14 (% of total population)                   float64
Population ages 15-64 (% of total population)                  float64
Population ages 65 and above (% of total population)           float64
Population female (% of total population)                      float64
Population male (% of total population)                        float64
Population total                                               float64
Rural population (% of total population)                       float64
Secondary education duration (years)                           float64
Urban population (% of total population)                       float64
dtype: object

In [49]:
# Look for mixed data types by for-looping

for col in final_dataset.columns.tolist():
  weird = (final_dataset[[col]].map(type) != final_dataset[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (final_dataset[weird]) > 0:
    print (col)

In [50]:
# look for duplicates in dataframe
df_dubs = final_dataset[final_dataset.duplicated()]

In [51]:
df_dubs

Empty DataFrame
Columns: [Country Name, Country Code, Year, Access to electricity (% of population), Access to electricity rural (% of rural population), Access to electricity urban (% of urban population), Fixed broadband subscriptions (per 100 people), Life expectancy at birth total (years), Literacy rate adult female (% of females ages 15 and above), Literacy rate adult male (% of males ages 15 and above), Literacy rate adult total (% of people ages 15 and above), Population ages 0-14 (% of total population), Population ages 15-64 (% of total population), Population ages 65 and above (% of total population), Population female (% of total population), Population male (% of total population), Population total, Rural population (% of total population), Secondary education duration (years), Urban population (% of total population)]
Index: []

## 4. Export data

In [53]:
final_dataset.to_csv(os.path.join(path, '02 Data','Prepared Data', 'final_dataset_year.csv'))